%div.contain-to-grid
  %nav.top-bar.contain-to-grid
    %ul.title-area
      %li.name
        = link_to(image_tag(asset_path 'logo/logo-dark.png'), root_path)
      %li.toggle-topbar.menu-icon
    %section.top-bar-section
      %ul.right
        %li.about
          = link_to "Ueber uns", "#"
        %li.courses
          = link_to "Kurse", "#"
        %li.contact
          = link_to "Kontakt", about_path
