%section#bookingComplete
  .row
    .small-12.columns
      .thank-you
        %h1
          Buchung Abgeschlossen
        %h3
          Sie sollten in kuerze eine Email mit den Buchungsdetails erhalten. Vielen dank.
