@font-face {
    font-family: 'NeuzeitGotRegular';
    src: url(font-path("neuzeitgrot-webfont.eot"));
    src: url(font-path("neuzeitgrot-webfont.eot?#iefix")) format('embedded-opentype'),
         url(font-path("neuzeitgrot-webfont.woff")) format('woff'),
         url(font-path("neuzeitgrot-webfont.ttf")) format('truetype'),
         url(font-path("neuzeitgrot-webfont.svg#neuzeitgrotregular")) format('svg');
    font-weight: normal;
    font-style: normal;

}