.container {
  margin: 2em 0 0 0;
}

.line {
  font: 1em "NeuzeitGotRegular", Helvetica, sans-serif;
  padding-bottom: 30px;
  h1 {
    font-size: 1.4em;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  span {
    color: #aaacad;
  }
}

.contact-info {
  .line:first-child {
    margin-top: 20px;
  }
}

.cta.button {
  background-color: #EC591E;
  border: none;
  border-radius: 20px;
  font-family: "NeuzeitGotRegular", Helvetica, sans-serif;

}

* {
  font-family: "NeuzeitGotRegular", Helvetica, sans-serif !important;
}