.container {
  margin-top: 2em;


}

.line {
  font: 1em "NeuzeitGotRegular", Helvetica, sans-serif;
  padding-bottom: 30px;
  h1 {
    font-size: 1.4em;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  span {
    color: #aaacad;
  }
}



.contact-info {
  .line:first-child {
    margin-top: 20px;
  }
}

.cta.button {
  background-color: #EC591E;
  border: none;
  border-radius: 20px;
  font-family: "NeuzeitGotRegular", Helvetica, sans-serif;
  &:hover {
    background-color: #EC5923;
  }
}

.button.notice {
  background-color: #EDAA3E;
  border: none;
}

.remove.button {
  background-color: #E64040;
  border-radius: 20px;
  font-family: "NeuzeitGotRegular", Helvetica, sans-serif;
  border: none;
}

body {
  font-family: "NeuzeitGotRegular", Helvetica, sans-serif !important;
}

