h1 {
  &.super {
    font-family: "NeuzeitGotRegular", Helvetica, sans-serif;
    text-align: center;
    margin-top: 5em;

  }
}

h2.super {
  font-family: "NeuzeitGotRegular", Helvetica, sans-serif;
  text-align: right;
  
}