#new_post, #edit_post, .edit_post {
  textarea {
    height: 300px;
  }
}

.post {
  font-family: "NeuzeitGotRegular", Helvetica, sans-serif;
  .post-title {
    text-transform: uppercase;
    h1 {
      margin-bottom: 0;
      font-family: "NeuzeitGotRegular", Helvetica, sans-serif;
    }
  }
  .written-by p {
          margin-bottom: 0;
      padding-bottom: 0;
  }
  .written-by, .posted-by {
    p {

    }
    .by {

    }

    .author, .date {
      color: #EC591E;
    }

  }

  .postbody {
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0;
      font-family: "NeuzeitGotRegular", Helvetica, sans-serif;
    }
  }
}
    


.published {
  background-color: lightGreen;
}

.pending {
  background-color: lightGray;
}

.posts {
  margin-top: 3em;

  ul {
    list-style: none;
  }
}