= image_tag "compo/cambig8.jpg", class: 'aboutcam'
.row.tagline
  .small-12.catchall.columns
    %h1.text-center.wsi
      Wir Sind.
.row.aboutus
  .small-4.columns
    %h2.text-center
      Der Perfekte Moment
  .small-4.columns
    %h2.text-center
      Unsere Methodik
  .small-4.columns
    %h2.text-center
      Unser Angebot