#map

.row
  .small-4.columns.contact-info
    .row
      .span12.line
        %h1
          Telefon
        %span
          (+41) 079 7362701
    .row
      .span12.line
        %h1
          Email
        %span
          guido@eyebfotoschule.com
    .row
      .span12.line
        %h1
          Adresse
        %span
          EyeB FOTOSCHULE BASEL
          %br
          Metzerstrasse 24
          %br
          4056 Basel
          %br
          Switzerland


