= image_tag "compo/cambig8.jpg", class: 'aboutcam'
.row.tagline
  .small-12.catchall.columns
    %h1.text-center.wsi
      Wir Sind.
.row.aboutus
  .small-4.columns
    %h2.text-center
      Der Perfekte Moment
    %p
      Was macht eine konkrete Aufnahmesituation zu einer besonderen? Warum fesselt uns ein Bild, ein anderes nicht? Ist es das Licht, das Motiv, die Anordnung der Bildelemente? Wie entstehen nun aber ausdrucksstarke, wirkungsvolle Bilder, welche die Besonderheit der Situation transportieren? Fotograf und Fotolehrer Guido Flueck geht diesen Fragen nach. In seinen Kursen gibt er viele Anregungen, die dabei helfen, ein Gespür für den „perfekten Moment“ zu entwickeln und ihn auch einzufangen. Der Blick für das Außergewöhnliche wird geschärft. Welche Elemente sind zentral für eine starke Bildwirkung, welche hingegen lenken ab oder stören sogar? Lernen Sie die vielseitigen Möglichkeiten der Bildkompositionen kennen und setzen Sie diese kreativ in Ihren Bildern ein. Erkunden Sie die vielen Facetten des Lichts und lernen Sie, Lichtsituationen zu unterscheiden. Finden Sie Ihren eigenen fotografischen Ausdruck. Lernen Sie das Einzigartige einer Person oder Situation einzufangen.
  .small-4.columns
    %h2.text-center
      Unsere Methodik
    %p
      Ob für Fotobegeisterte, Amateure oder Profis – Die EyeB-Fotoschule Basel vermittelt fotografisches Handwerk, provoziert die Neugier am Bestehenden. Fototheorie wird anhand der in der Praxis auftretenden Problemstellungen erläutert und vertieft. Guido Flueck verfügt über 25 Jahre internationale Erfahrung. Er ging 1990 nach Los Angeles, studierte ein Jahr an der UCLA, arbeitete in Amerika als Model und 15 Jahre als Fotograf für Sport (Surfen und Snowboarden), wechselte später in die Mode- und Kunstfotografie.„Learning by doing“ heißt sein Zauberwort: wenig Theorie, viel Praxis. „Der Fotoapparat wird zu unserem täglichen Begleiter. Wir spüren dem Kreativen in uns nach, loten die Schönheiten der Fotografie aus.“ In der Schule werden die Bilder besprochen. Denn mit den gelernten Tipps und Tricks kommt man zu noch schöneren, ausdrucksstarken Aufnahmen. Das Gefühl für „seinen“ Fotoapparat zu bekommen, ist das Ziel jeden Kurses. Profitieren Sie auch vom Wissen unserer Gastdozenten, die wir aus dem europäischen Raum und Amerika für Sie einladen.
  .small-4.columns
    %h2.text-center
      Unser Angebot
    %p
      Da wir in kleinen Gruppen arbeiten, kann die EyeB-Fotoschule individuell auf jeden Kursteilnehmer eingehen. Jeder Fotokurs widmet sich einem bestimmten fotografischen Thema. Und da sich Guido Flueck noch gut daran erinnern kann, welche Hürden auf einen noch unerfahrenen Fotografen warten, der sich zum ersten Mal in das Terrain der Fotografie begibt, hat er ein umfangreiches Kursangebot zusammengestellt: Bildaufbau, Lichtgestaltung, Fotogrundlage, Photoshop Elements, Landschaft-, Tier- und Makrofotografie Schwarz/Weiß-Fotografie, Portrait, Akt, Retuschieren sowie Blitzkurse bis hin zu Styling und Make-Up. Sie werden begeistert sein!  Begeben Sie sich mit unseren Eye-B-Adventure Tours auf ein einzigartiges Abenteuer nach Afrika oder tauchen Sie mit unseren Wochenend- und Tagesseminaren, Ausflügen oder Specials in die Welt der Fotografie ein. Sie erhalten ein Basiswissen über Kamera und Aufnahmetechnik, denn die Grundregeln der Fotografie sind Voraussetzung für gelungene Bilder. Unser Ziel ist, das fotografische Auge zu entwickeln und Bildideen direkt „on location“ umzusetzen. 