= image_tag "compo/cambig8.jpg", class: 'aboutcam'
.row.tagline
  .small-12.catchall.columns
    %h1.text-center.wsi
      Wir Sind.
.row.aboutus
  .small-4.columns
    %h2.text-center
      Der Perfekte Moment
    %p
      Was macht eine konkrete Aufnahmesituation zu einer besonderen? Warum fesselt uns ein Bild, ein anderes nicht? Ist es das Licht, das Motiv, die Anordnung der Bildelemente? Wie entstehen nun aber ausdrucksstarke, wirkungsvolle Bilder, welche die Besonderheit der Situation transportieren? Fotograf und Fotolehrer Guido Flueck geht diesen Fragen nach. In seinen Kursen gibt er viele Anregungen, die dabei helfen, ein Gespür für den „perfekten Moment“ zu entwickeln und ihn auch einzufangen. Der Blick für das Außergewöhnliche wird geschärft. Welche Elemente sind zentral für eine starke Bildwirkung, welche hingegen lenken ab oder stören sogar? Lernen Sie die vielseitigen Möglichkeiten der Bildkompositionen kennen und setzen Sie diese kreativ in Ihren Bildern ein. Erkunden Sie die vielen Facetten des Lichts und lernen Sie, Lichtsituationen zu unterscheiden. Finden Sie Ihren eigenen fotografischen Ausdruck. Lernen Sie das Einzigartige einer Person oder Situation einzufangen.
  .small-4.columns
    %h2.text-center
      Unsere Methodik
    %p
      Ob für Fotobegeisterte, Amateure oder Profis – Die EyeB-Fotoschule Basel vermittelt fotografisches Handwerk, provoziert die Neugier am Bestehenden. Fototheorie wird anhand der in der Praxis auftretenden Problemstellungen erläutert und vertieft. Fotolehrer 
      %em
        Guido Flueck 
      verfügt über 25 Jahre internationale Erfahrung„Learning by doing“ heißt sein Zauberwort: wenig Theorie, viel Praxis. Unseren Kursteilnehmern stehen die modernsten Apple-Computer in der Schule zur Verfügung. „Der Fotoapparat wird zu unserem täglichen Begleiter. Wir spüren dem Kreativen in uns nach, loten die Schönheiten der Fotografie aus.“ In der Schule werden die Bilder besprochen. Denn mit den gelernten Tipps und Tricks kommt man zu noch schöneren, ausdrucksstarken Aufnahmen. Das Gefühl für „seinen“ Fotoapparat zu bekommen, ist das Ziel jeden Kurses. Profitieren Sie auch vom Wissen unserer Gastdozenten, die wir aus dem europäischen Raum und Amerika für Sie einladen.
  .small-4.columns
    %h2.text-center
      Unser Angebot
    %p
      Da wir in kleinen Gruppen arbeiten, kann die EyeB-Fotoschule individuell auf jeden Kursteilnehmer eingehen. Jeder Fotokurs widmet sich einem bestimmten fotografischen Thema. Und da sich Guido Flueck noch gut daran erinnern kann, welche Hürden auf einen noch unerfahrenen Fotografen warten, der sich zum ersten Mal in das Terrain der Fotografie begibt, hat er ein umfangreiches Kursangebot zusammengestellt: Bildaufbau, Lichtgestaltung, Fotogrundlage, Photoshop Elements, Landschaft-, Tier- und Makrofotografie Schwarz/Weiß-Fotografie, Portrait, Akt, Retuschieren sowie Blitzkurse bis hin zu Styling und Make-Up. Sie werden begeistert sein!  Begeben Sie sich mit unseren Eye-B-Adventure Tours auf ein einzigartiges Abenteuer nach Afrika oder tauchen Sie mit unseren Wochenend- und Tagesseminaren, Ausflügen oder Specials in die Welt der Fotografie ein. Sie erhalten ein Basiswissen über Kamera und Aufnahmetechnik, denn die Grundregeln der Fotografie sind Voraussetzung für gelungene Bilder. Unser Ziel ist, das fotografische Auge zu entwickeln und Bildideen direkt „on location“ umzusetzen. 
%section#biographysection
  .row
    .large-12.columns
      %h1
        Der Trainer - Guido Flueck
  .row
    .small-4.columns
      = image_tag("compo/guido300.jpg")
    .small-8.columns

      %p
        %strong Guido Flueck
        besuchte 6 Jahre die Klosterschule in Einsiedeln, studierte Latein und Altgriechisch. Dort wurde auch seine Liebe zur Kunst geweckt.
      %p
        Nach Beendigung seiner Studienzeit ging er nach München und New York, arbeitete dort als Model. Sein Mentor und bester Freund, der Künstler
        = succeed "," do
          %strong David Olander
        inspirierte ihn, den Weg als selbstständiger Fotograf einzuschlagen.
      %p 
        So zog es ihn 1990 nach Los Angeles, wo er  ein Jahr an der UCLA studierte, um sich mit dem neuen Lernsystem in der Fotografie vertraut zu machen. Selbst exzessiver Sportler, lag es nahe, in diesem Bereich als Fotograf tätig zu werden. 15 Jahre lang fotografierte er in der kalifornischen Metropole und in der Schweiz die Extremportler beim Surfen und Snowboarden. Seine atemberaubenden Bilder machten in Amerika und Europa 
        = succeed '.' do
          %strong Furiore
        Aber auch in der Mode-, Kunst- und Pferdefotografie zählte er zu den besten Fotografen. 
        %br 
        2005 zog Guido Flueck für drei Jahre nach Miami, kehrte aber 2009 nach L.A. zurück. Sein Interesse galt dann mehr den Fotodokumentatonen, Portraits und der Kunst.
      %p Am 1. Jänner 2011 kehrte der jetzt in Binningen lebende Starfotograf in die Schweiz zurück, gründete die EyeB-Fotoschule Basel, wo ab Juli 2013 alle Fotografie-Begeisterten den Weg zu noch schöneren Bildern beschreiten können.
#pusher