= form_for([:admin, @course]) do |f|    
  .row
    %h1
      = f.text_field :name
  .row
    .small-9.columns
      = f.text_area :markdown_description
  .row
    .small-3.columns
      = f.submit 'Speichern', class: 'button cta'
